[submodule "extern/HiCR"]
	path = extern/HiCR
	url = https://github.com/Algebraic-Programming/HiCR.git
[submodule "extern/TaskR"]
	path = extern/TaskR
	url = https://github.com/Algebraic-Programming/TaskR.git
[submodule "extern/DeployR"]
	path = extern/DeployR
	url = https://github.com/Algebraic-Programming/DeployR.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
