[submodule "extern/HiCR"]
	path = extern/HiCR
	url = https://github.com/Algebraic-Programming/HiCR.git
[submodule "extern/TaskR"]
	path = extern/TaskR
	url = https://github.com/Algebraic-Programming/TaskR.git
[submodule "extern/DeployR"]
	path = extern/DeployR
	url = https://github.com/Algebraic-Programming/DeployR.git
